.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .button {
  display: none;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5em;
}

.hero .copy {
  padding-bottom: 2.5em;
}

.hero__image {
  height: 300px;
  margin: 0 calc(-1 * $wrapperSpace);
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.2em;
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .hero__content {
    display: -ms-grid;
    display: grid;
    min-height: 550px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "description image";
    -ms-grid-columns: 480px 1fr;
        grid-template-columns: 480px 1fr;
    position: relative;
  }
  .hero__description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: description;
  }
  .hero__image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    min-height: inherit;
    position: absolute;
    width: 500px;
    left: 0px;
    height: 768px;
    background: url("../images/image-mockups.png") left -100px bottom no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero__image {
    background: url("../images/image-mockups.png") right -100px bottom no-repeat;
    background-size: 100%;
    width: 730px;
    left: 150px;
    top: 0;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}

.menu a {
  text-decoration: none;
  color: #9698a6;
  padding: 0 .8em;
}

.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), color-stop(90%, transparent));
  background: linear-gradient(to bottom, #2d314d 0%, transparent 90%);
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.menu__checkbox:checked ~ .menu a {
  background: #fafafa;
  padding: .5em 1em;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.why {
  text-align: center;
  background: #f3f4f6;
  padding: 5em 0;
}

.why .copy {
  margin-bottom: 4em;
  font-size: 1em;
}

.why__item .copy {
  margin-bottom: 2em;
}

.why__item img {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1em;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .why__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.latestArticles {
  padding-top: 5em 0;
  background: #fafafa;
}

.latestArticles .title__h1 {
  text-align: center;
  margin-bottom: 1em;
}

.latestArticles__grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2em;
}

.latestArticles__item {
  border-radius: .5em;
  overflow: hidden;
  background: white;
}

.latestArticles__item-content {
  padding: 1.8em;
}

.latestArticles__item .copy {
  color: #9698a6;
}

.latestArticles__item small {
  color: #9698a6;
  margin: 1em;
  display: block;
}

.latestArticles__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media screen and (min-width: 768px) {
  .latestArticles .title__h1 {
    text-align: left;
  }
  .latestArticles__item-content {
    padding: 1em;
  }
  .latestArticles__grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .latestArticles__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #2d314d;
  color: white;
  padding: 2em 0;
  text-align: center;
}

.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
}

.footer__link {
  display: block;
  color: #f3f4f6;
  text-decoration: none;
  margin-bottom: 2em;
}

.footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[5];
      grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em 0;
}

.footer__copyright {
  color: #9698a6;
  margin-top: 2.5em;
}

@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 7em;
    -ms-grid-columns: 200px 1fr 400px;
        grid-template-columns: 200px 1fr 400px;
        grid-template-areas: "logo links button" "social links copyright";
  }
  .footer__links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: links;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: social;
  }
  .footer__button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: button;
    text-align: right;
  }
  .footer__copyrigth {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
    text-align: right;
  }
}

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  color: #9698a6;
}

.copy {
  line-height: 1.7em;
  font-size: .9em;
}

.wrapper {
  padding: 0 1.5em;
  max-width: 1115px;
  margin: auto;
  width: 100%;
}

.title__h1 {
  font-size: 2.5em;
  color: #2d314d;
  font-weight: 400;
  margin: 0;
  margin-bottom: .5em;
}

.title__h2 {
  font-size: 2.5em;
  color: #2d314d;
  font-weight: 400;
  margin: 0;
  margin-bottom: .5em;
  font-size: 1.5em;
}

.title__h3 {
  font-size: 2.5em;
  color: #2d314d;
  font-weight: 400;
  margin: 0;
  margin-bottom: .5em;
  font-size: 1em;
}

.button {
  border: none;
  border-radius: 1.5em;
  padding: .9em 2.5em;
  font-size: 1em;
  font-weight: 600;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-facebook.svg");
}

.icon__youtube {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-youtube.svg");
}

.icon__twitter {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-twitter.svg");
}

.icon__pinterest {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-pinterest.svg");
}

.icon__instagram {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-instagram.svg");
}
/*# sourceMappingURL=estilos.css.map */