@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./why.scss";
@import "./variables.scss";
@import "./latestArticles.scss";
@import "./footer.scss";

body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    color: $grayishBlue;
}
.copy{
    line-height: 1.7em;
    font-size: .9em;
}

.wrapper{
    padding: 0 $wrapperSpace;
    max-width: 1115px;
    margin: auto;
    width: 100%;
    // box-sizing: border-box;

}

@mixin title {
    font-size: 2.5em;
    color: $darkBlue;
    font-weight: 400;
    margin: 0;
    margin-bottom: .5em;
}

.title{
    &__h1{
        @include title;
        // font-size: 2.5em;
        // color: $darkBlue;
        // font-weight: 400;
        // margin-bottom: .5em;
    }
    &__h2{
        @include title;
        font-size: 1.5em;
    }
    &__h3{
        @include title;
        font-size: 1em;
    }
}
.button{
    border: none;
    border-radius: 1.5em;
    padding: .9em 2.5em;
    font-size: 1em;
    font-weight: 600;
    color: $white;
    background-image: linear-gradient(to right, $limeGreen 0%, $brightCyan 100%);
}

@mixin icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background-repeat: no-repeat;
}

.icon{
    &__facebook{
        @include icon;
        background-image: url('../images/icon-facebook.svg');
    }
    &__youtube{
        @include icon;
        background-image: url('../images/icon-youtube.svg');
    }
    &__twitter{
        @include icon;
        background-image: url('../images/icon-twitter.svg');
    }
    &__pinterest{
        @include icon;
        background-image: url('../images/icon-pinterest.svg');
    }
    &__instagram{
        @include icon;
        background-image: url('../images/icon-instagram.svg');
    }
}