@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./why.scss";
@import "./variables.scss";


body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    color: $grayishBlue;
}
.copy{
    line-height: 1.7em;
    font-size: .9em;
}

.wrapper{
    padding: 0 $wrapperSpace;
}
.title{
    &__h1{
        font-size: 2.5em;
        color: $darkBlue;
        font-weight: 400;
        margin-bottom: .5em;
    }
    &__h2{
        @extend .title__h1;
        font-size: 1.5em;
    }
}
.button{
    border: none;
    border-radius: 1.5em;
    padding: .9em 2.5em;
    font-size: 1em;
    font-weight: 600;
    color: $white;
    background-image: linear-gradient(to right, $limeGreen 0%, $brightCyan 100%);
}
