@import "./variables.scss";

.footer{
    background: $darkBlue;
    color: $white;
    padding: 2em 0;
    text-align: center;
    &__logo{
        display: block;
        margin: auto;
        margin-bottom: 1.5em;
    }
    &__link{
        display: block;
        color: $lightGrayishBlue;
        text-decoration: none;
        margin-bottom: 2em;
        &:hover{
            color: $limeGreen;
        }
    }
    &__social{
        display: grid;
        grid-template-columns: repeat(5, 25px);
        grid-column-gap: 1em;
        justify-content: center;
        margin: 2.5em 0;
        // &:hover{
        //     color: $limeGreen;
        // }
    }
    &__copyright{
        color: $grayishBlue;
        margin-top: 2.5em;
    }
    @media screen and (min-width: 1024px){
        .wrapper{
            display: grid;
            grid-column-gap: 7em;
            grid-template-columns: 200px 1fr 400px;
            grid-template-areas: "logo links button"
                                 "social links copyright";
        }
        &__links{
            grid-area: links;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
        }
        &__logo{
            grid-area: logo;
            margin: initial;
        }
        &__social{
            grid-area: social;
        }
        &__button{
            grid-area: button;
            text-align: right;
        }
        &__copyrigth{
            grid-area: copyright;
            text-align: right;
        }
    }
}