.latestArticles{
    // minuto 2:11:00
    padding-top: 5em 0;
    background: $veryLightGray;
    .title__h1{
        text-align: center;
    }
    .title__h3{
        text-align: left;
    }
    &__grid{
        display: grid;
        grid-row-gap: 2em;
    }
    &__item{
        border-radius: .5em;
        overflow: hidden;
        background: $white;
        &-content{
            padding: 1.8em;
        }
        small{
            color: $grayishBlue;
            margin: 1em;
            display: block;
        }
        img{
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
}