@import "./variables.scss";
//time 1:34:00
.why{
    text-align: center;
    background: $lightGrayishBlue;
    padding-top: 5em;
    .copy{
        margin-bottom: 4em;
    }
    &__item{
        .copy{
            margin-bottom: 2em;
        }
        img{
            margin-bottom: 1.5em;
        }
    }
}